<!DOCTYPE html>
<html>
    <head>
        <title>
            id page
        </title>
        <style>
            tr,th,td,table{
                border: 1px  solid black;
                border-collapse: collapse;
                border-radius: 10px;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <th>age</th>
            </tr>                   
            <tr>
                <td>{{result[0]['id']}}</td>
                <td>{{result[0]['name']}}</td>
                <td>{{result[0]['contact']}}</td>
                <td>{{result[0]['age']}}</td>
            </tr>
        </table>
    </body>
</html>