<!DOCTYPE html>
<html>
<head>
    <title>Image Details</title>
    <style>
        img{
            width:100px;
            height:100px;
        }
        p{
            display:flex;
        }
    </style>
</head>
<body>
    <h1>Image Details</h1>

    {% for entry in result %}
        <div>
            <h3>ID: {{ entry['id'] }}</h3>
            <p>Name: {{ entry['name'] }}</p>
            <p>Photo:<img src="data:image/png;base64,{{ entry['image'] }}" alt="{{ entry['name'] }}" />
        </div>
    {% endfor %}
</body>
</html>
