<!DOCTYPE html>
<html>
<head>
    <title>indexpage</title>
    <link rel="stylesheet" href="static/css/style.css" /> 
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>age</th>
            <th>order amount</th>
            <th>photo</th>
        </tr>
        {% for entry in result %}
        <tr>
            <td>{{ entry['id'] }}</td>
            <td>{{ entry['name'] }}</td>
            <td>{{ entry['contact'] }}</td>
            <td>{{ entry['age'] }}</td>
            <td>{{ entry['amount'] }}</td>
            <td><img src="data:image/png;base64,{{ entry['image'] }}" alt="{{ entry['name'] }}" /></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
